<!-- <div class="card card-list mb-4">

    <div class="card-header">Список ключевых слов</div>
    <div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Color</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			  	<tr *ngFor="let keyword of keywords" (click)="goToKeywordEdit(keyword.id)">
				    <td>{{ keyword.name }}</td>
				    <td>
				      <span class="color-badge" [style.background]="hexColor(keyword.color)"></span>
			
				    </td>
				    <td>{{ keyword.created_at | date:'dd.MM' }}</td>
				    <td>
				      <button class="btn btn-sm btn-danger" (click)="deleteKeyword($event, keyword.id)">X</button>
				    </td>
				</tr>
			</tbody>
		</table>
    </div>
</div> -->

<div class="list-wrapper">
	<ul>
		<li *ngFor="let keyword of keywords">
			<div>
				<div class="color-badge" [style.background]="hexColor(keyword.color)"></div>
				<div class="name">
					{{ keyword.name }}
				</div>
			</div>
			<div class="action">
			  <i title="Изменение ключевого слова" class="mu mu-edit" (click)="goToKeywordEdit(keyword.id)"></i>
		   	  <div gui type="dropdown"
			   	  [inputs]="{
			   	  	buttonIcon: 'mu mu-opts-v',
			   	  	items: menuItems
			   	  }"
			   	  [outputs]="{
					itemSelected: deleteKeyword.bind(this, keyword.id)
			   	  }"
		   	  ></div>
			</div>
		</li>
	</ul>	
</div>
