<div class="card card-list mb-4">
    <div class="card-header">Список ключевых слов</div>
    <div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Color</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			  <tr *ngFor="let keyword of keywords" (click)="goToKeywordEdit(keyword.id)">
			    <td>{{ keyword.name }}</td>
			    <td>
			      <span class="color-badge" [style.background]="hexColor(keyword.color)"></span>
			      <!-- {{ hexColor(keyword.color) }} -->
			    </td>
			    <td>{{ keyword.created_at | date:'dd.MM' }}</td>
			    <td>
			      <button class="btn btn-sm btn-danger" (click)="deleteKeyword($event, keyword.id)">X</button>
			    </td>
			  </tr>
			</tbody>
		</table>
    </div>
</div>