<div class="container">
  <h2>Keywords Management</h2>
  <div class="flex">
    <button [class.active]="state === 'CREATE'" (click)="setState('CREATE')">CREATE</button>
    <button [class.active]="state === 'EDIT'" (click)="setState('EDIT')" [disabled]="!selectedKeyword">EDIT</button>
    <button [class.active]="state === 'VIEW'" (click)="setState('VIEW')" [disabled]="!selectedKeyword">VIEW</button>
    <button [class.active]="state === 'SHARE'" (click)="displayShareKeyword()" [disabled]="!selectedKeyword">SHARE</button>
  </div>
  <!-- Create New Keyword -->
  <div class="card card-create mb-4">
    <div *ngIf="state === 'CREATE'">
      <div class="card-header">CREATE</div>
        <div class="card-body">
          <form [formGroup]="createKeywordForm" (ngSubmit)="createKeyword()">
            <div class="mb-3">
              <label for="name" class="form-label">Keyword Name</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="mb-3">
              <label for="color" class="form-label">Color</label>
              <input type="color" class="form-control" id="color" 
                     [value]="hexColor(createKeywordForm.get('color')?.value)"
                     (input)="onColorChange($event, true)">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!createKeywordForm.valid">CREATE</button>
          </form>
        </div>
    </div>
    <div *ngIf="state === 'EDIT'">
      <!-- Edit Form -->
      <form [formGroup]="editKeywordForm" (ngSubmit)="updateKeyword()" *ngIf="isEditing">
        <div class="mb-3">
          <label for="editName" class="form-label">Name</label>
          <input type="text" class="form-control" id="editName" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="editColor" class="form-label">Color</label>
          <input type="color" class="form-control" id="editColor" 
                 [value]="hexColor(editKeywordForm.get('color')?.value)"
                  (input)="onColorChange($event, false)">
        </div>
        <button type="submit" class="btn btn-primary me-2" [disabled]="!editKeywordForm.valid">UPDATE</button>
        
      </form>
    </div>

    <div *ngIf="state === 'VIEW'">
      <!-- Keyword Details -->
      <div class="card mb-4" *ngIf="selectedKeyword">
        <div class="card-header">
          GET 1: {{ selectedKeyword.name }}
        </div>
        <div class="card-body">
          <div *ngIf="!isEditing">
            <p><strong>Color:</strong> <span class="color-badge" [style.background]="hexColor(selectedKeyword.color)"></span> {{ hexColor(selectedKeyword.color) }}</p>
            <p><strong>Created:</strong> {{ selectedKeyword.created_at | date }}</p>
            <p><strong>Last Updated:</strong> {{ selectedKeyword.updated_at | date }}</p>
            
            
          </div>

          
        </div>
      </div>
    </div>

    <div *ngIf="state === 'SHARE'">
      <div class="card" *ngIf="selectedKeyword">
        <h3 class="card-header">Поделиться</h3>
        <div class="card-body">
          <form [formGroup]="shareForm" (ngSubmit)="shareKeyword()">

            <div class="mb-3">
              <app-web-component-wrapper
                [componentName]="'user-selector'"
                [inputs]="userSelectorInputs"
                [outputs]="userSelectorOutputs"
              ></app-web-component-wrapper>

            </div>
            <div class="mb-3">
              <label for="accessLevel" class="form-label">Access Level</label>
              <select class="form-select" id="accessLevel" formControlName="access_level">
                <option value="1">Read</option>
                <option value="2">Read/Write</option>
                <option value="3">Admin</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!shareForm.valid">Share</button>
          </form>
        </div>
      </div>
    </div>
    
  </div>

  

  <!-- Keywords List -->
  <div class="card card-list mb-4">
    <div class="card-header">LIST</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let keyword of keywords">
            <td>{{ keyword.name }}</td>
            <td>
              <span class="color-badge" [style.background]="hexColor(keyword.color)"></span>
              <!-- {{ hexColor(keyword.color) }} -->
            </td>
            <td>{{ keyword.created_at | date:'dd.MM' }}</td>
            <td>
              <button class="btn btn-sm btn-info me-2" (click)="selectKeyword(keyword.id)">View</button>
              <button class="btn btn-sm btn-danger" (click)="displayShareKeyword(keyword.id)">Share</button>
              <button class="btn btn-sm btn-danger" (click)="deleteKeyword(keyword.id)">Del</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
</div>


